<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>com.common.web.filter.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CheckBackendLogin</filter-name>
		<filter-class>com.common.web.filter.CheckBackendLoginFilter</filter-class>
		<init-param>
			<param-name>redirectURL</param-name>
			<param-value>/backend/login.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>notCheckURLList</param-name>
			<param-value>/backend/zentertain/app_ad/app_ad_service.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CheckBackendLogin</filter-name>
		<url-pattern>/backend/zentertain/*</url-pattern>
	</filter-mapping>

	<display-name>zentertain</display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
